*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 30vw;
    height: 80vh;
    object-fit:cover;
    min-height:100vh;

}
.container{
    position: relative;
    width:30vw;
    height:80vh;
}



body{
    display: flex;
    align-items: center;
    justify-content:center;
}