*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 30vw;
    height: 80vh;
    object-fit:cover;
    

}
.container{
    position: relative;
    width:30vw;
    height:80vh;
    min-height:100vh;
}

.img-container-before,.img-container-after{
    position: absolute;
    width: 30vw;
    height: 80vh;
}
img-container-before{
    width: 15vw;
    overflow: hidden;
}

body{
    display: flex;
    align-items: center;
    justify-content:center;
}
.slider{
    width:0.5rem;
    background:white;
    height:100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0%);
}